/* Set the size of the div element that contains the map*/
#map {
    height: 400px;
    /*   The height is 400 pixels*/
    width: 100%;
    /*   The width is the width of the web page*/
}
#marker{
    visibility: inherit;
}

#containerList{
    min-width: 500px;
}
.c-pointer {
    cursor: pointer;
}


a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


form {
    padding: 10px;
}

.btn-add {
    display: block;
    margin: 5px auto ;
}
.conferences-container{
    margin: 5% 25%;

}


.box-container {
    margin: 20px;
    border: #e2e2e2 1px solid;
    width:450px;
    height:300px;
    padding: 20px;
    border-radius: 4px;
}
